<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Interface">
		<setting id="playbackMethod" label="Playback Method" type="enum" default="0" values="Select Quality Via Dialog|Auto Play Highest Quality|Auto Play Lowest Quality"/>
        <setting type="sep"/>
        <setting id="showCatalog" label="Show Catalog Sections" type="bool" default="true"/>
        <setting type="sep"/>
        <setting type="lsep" label="Episodes:"/>
        <setting id="reverseEpisodes" label="Reverse Episode List Order" type="bool" default="false"/>
        <setting id="cleanupEpisodes" label="Clean Episode Titles" type="bool" default="false"/>
    </category>
    <category label="Trakt">
        <setting id="clearTrakt" label="Clear Trakt Token" type="action" action="RunPlugin(plugin://plugin.video.watchnixtoons2/?action=actionClearTrakt)"/>
    </category>
</settings>