<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Playback">
		<setting id="playback_method" label="Playback Method" type="enum" values="Select Quality Via Dialog|Auto Play Highest Quality|Auto Play Lowest Quality" default="0"/>
        <setting id="use_metadata" label="Use Metadata" type="bool"  default="true"/>
	</category>
</settings>
